html {
    background-image: linear-gradient(rgb(161, 238, 255), rgb(50, 92, 47));
}

body {
  text-align: center;
}

h1 {
  display: inline-block;
  background-image: linear-gradient(cyan, blue);
  border-radius: 20px;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
}

div {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 8px;
}

.biography p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  display: inline;
}

.biography ul {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  list-style-position: inside;
}

/* code for button from https://webdeasy.de/en/top-css-buttons-en/ 

HTML CSSResult Skip Results Iframe
EDIT ON
*/

.wrapper{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}

#image {
  display: none;
  height: 100px;
  width: 100px;
}